<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Login : Dashboard Application</title>
	
	<link   rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div align="center">
<h1>There was ERROR</h1>
<hr width="80%">
<a href="/logout">Logout</a>
</div>


</body>
</html>