<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Login : Dashboard Application</title>

	<link   rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
	<div class="text-center" >
		<hr width="80%">
		<img src="/images/citi.png" class="img avatar" alt="logo" style="width: 90px;margin: 20px;"/>
		<hr width="80%">
		<h3>this application requires SSO login</h3>
	</div>
</body>
</html>